@import url("font.css");

* {
    -fx-effect: none !important;

    -fx-font-smoothing-type: gray;
    -fx-smooth: true;
}

.root {
    -fx-background-color: transparent;
}

.root Label {
    -fx-text-fill: -fx-primary-text-color;
}

.button, .window-actions, .sidebar-tab {
    -fx-cursor: hand;
}

.sidebar {
    -fx-pref-width: 230px;
    -fx-background-color: -fx-sidebar-color;
    -fx-background-radius: 16px 0 0 16px;
}

.sidebar-tab Label {
    -fx-text-fill: -fx-secondary-text-color;
}

.logo-bg {
    -fx-fill: -fx-bg-color;
}

.logo-stroke {
    -fx-fill: -fx-separator-color;
}

.logo-text {
    -fx-fill: -fx-primary-text-color;
}

.logo-line {
    -fx-fill: transparent;
    -fx-stroke: -fx-primary-color;
    -fx-stroke-width: 2.3;
}

.icon-selected {
    -fx-fill: -fx-primary-color;
}

.icon-1, .icon-2 {
    -fx-fill: -fx-secondary-text-color;
}

.icon-2 {
    -fx-opacity: .4;
}

.selected Label {
    -fx-text-fill: -fx-primary-text-color;
}

.selected SVGPath {
    -fx-fill: -fx-primary-color;
}

.background {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 0 16px 16px 0;
}

.window-actions {
    -fx-stroke: none;
    -fx-fill: -fx-bg-color;
}

.table-view .column-header, .table-view .column-header .filler, .table-view .column-header-background .filler, .nested-column-header, .table-view .column-header, .column-header-background {
    -fx-background-color: -fx-separator-color;
    -fx-border-width: 0;
    -fx-background-radius: 6px 6px 0 0;
}

.table-view .filler, .table-view .column-header {
    -fx-size: 40px;
}

.table-view {
    -fx-table-cell-border-color: transparent;
}

.table-row-cell .text {
    -fx-fill: -fx-secondary-text-color;
}

.table-row-cell:hover .text {
    -fx-fill: -fx-primary-text-color;
}

.table-row-cell:selected .text, .icon {
    -fx-fill: white;
}

.table-row-cell:selected .text {
    -fx-fill: -fx-primary-color;
}

.table-column {
    -fx-padding: 0 0 0 5;
    -fx-alignment: CENTER;
}

.table-row-cell {
    -fx-cell-size: 44px;
    -fx-background-color: -fx-card-color;
    -fx-background-insets: 0;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:odd {
    /*-fx-background-color: -fx-separator-color;*/
}

.table-view, .scroll-bar {
    -fx-background-color: transparent;
}

.text-field {
    -fx-text-fill: -fx-primary-text-color;
    -fx-background-color: -fx-separator-color;
}

.text-area {
    -fx-text-fill: -fx-primary-text-color;
    -fx-background-color: -fx-card-color;
}

.text-area .content {
    -fx-text-fill: -fx-primary-text-color;
    -fx-background-color: -fx-card-color;
    -fx-background-radius: 0;
}

.context-menu {
    -fx-background-color: -fx-bg-color;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}

.menu-item {
    -fx-background-radius: 5px;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: -fx-card-color;
}

.menu-item > .graphic-container {
    -fx-padding: 5;
}

.menu-item > .label {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-secondary-text-color;
    -fx-effect: null;
    -fx-font-size: 14px;
}

.menu-item:focused > .label {
    -fx-text-fill: -fx-primary-color;
}

.menu-item:hover > .label {
    -fx-text-fill: -fx-primary-text-color;
}

.menu {
    -fx-background-color: transparent;
}