*  {
    -fx-primary-color: #e76086;
    -fx-primary-gradient-color: linear-gradient(to right, -fx-primary-color, #d87c86);

    -fx-separator-color: #282e3f;
    -fx-stroke-color: derive(-fx-separator-color, -6%);

    -fx-card-color: #1f2632;
    -fx-bg-color: derive(-fx-card-color, -15%);

    -fx-sidebar-color: linear-gradient(to bottom, -fx-stroke-color, -fx-bg-color);

    -fx-primary-text-color: #ffffff;
    -fx-secondary-text-color: #9999aa;
}